@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

body {
  background-image: url('dragons.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'IM Fell English SC', serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh;
}

#appTitle {
  font-size: 3em;
  text-align: center;
  width: 100%;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.content-box {
  border: 2px solid #000;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Adjust as needed */
  display: flex;
  gap: 20px;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.card-border {
  width: 250px;
  height: 350px;
  border: 2px solid #000;
  position: relative;
  border-radius: 15px; /* Adjust as needed */
  overflow: hidden; /* Hides the part of the image that is outside of the border */
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px; /* Adjust as needed */
  overflow: hidden; /* Hides the part of the image that is outside of the border */
}

.background-image {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
}

#cardImage {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 15px; /* Adjust as needed */
}

#cardTitle,
#cardDescription,
#cardType {
  position: absolute;
  z-index: 3;
}

#cardHealth,
#cardAggro,
#cardShield {
  position: absolute;
  z-index: 3;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#cardTitle {
  top: 2%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  overflow-wrap: break-word;
}

#cardDescriptionContainer {
  position: absolute;
  top: 70%;
  left: 10%;
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 3;
}

#cardHealth {
  top: -5%;
  left: 10.5%;
  font-size: 30px;
}

#cardAggro {
  top: -5%;
  right: 10.5%;
  font-size: 30px;
}

#cardShield {
  bottom: -6%;
  left: 8%;
  font-size: 30px;
}

#cardType {
  top: 56%;
  width: 100%;
  text-align: center;
  overflow-wrap: break-word;
}

#downloadButton {
  font-family: 'IM Fell English SC', serif;
  background-color: #9d5600;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 3px solid #6d6d6d;
  border-radius: 12px;
}

#downloadButton:hover {
  background-color: #4caf50;
  color: white;
}

@media screen and (max-width: 600px) {
  .app {
    flex-direction: column;
  }

  .content-box {
    flex-direction: column;
    align-items: center;
  }

  .input-form {
    align-items: center;
  }

  .card-border {
    width: 90%;
    height: auto;
  }
}
